.env
venv/
.venv/
.idea/
.vscode/
.DS_Store

*.pyo
*.pyc

__pycache__
masks/
Debugs/
uploads/
outputs/
pycache/
generated/
image_cache/
geometry-debug/
homeexperia-frontend/

flask.log
error.log
access.log
server.log
timings.log
static/rug_visualizer.html

sam_vit_h_4b8939.pth
sam_hq_vit_b.pth